<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/anotherstyle.css" rel="stylesheet" th:href="@{/css/anotherstyle.css}">
    <link href="../static/css/bootstrap-datepicker.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap-datepicker.min.css}">
    <title>惠州市高级人才住房补贴申请</title>
</head>
<body onload="init()">
<div class="container">
    <!--    <div class="col-sm-8 col-md-8 col-lg-5">-->
    <div class="m-1">
        <h4 class="text-center">惠州市高级人才住房补贴申领表</h4>
    </div>

    <div>
        <div class="container" style="width: 900px; background-color: white" id="form_info"><br>
            <form>
                <div class="row mb-4">
                    <div class="col-2 form-group">
                        <label for="name" class="px-2 fw-light">姓名</label>
                        <input type="text" class="form-control" autocomplete="off" id="name" placeholder="请输入姓名">
                    </div>
                    <div class="col-2 form-group">
                        <label for="sex" class="px-2 fw-light">性别</label>
                        <select id="sex" class="form-control-color"
                                style="width: 110px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;">
                            <option>男</option>
                            <option>女</option>
                        </select>
                    </div>
                    <div class="col-4 form-group">
                        <label for="inputDate" class="px-2 fw-light">出生年月</label>
                        <input type="text" class="form-control" autocomplete="off" id="inputDate" placeholder="请选择出生年月">
                    </div>
                    <div class="col-4 form-group">
                        <label class="px-2 fw-light">籍贯</label>
                        <br>
                        <select class="form-control-color"
                                style="width: 100px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;"
                                id="pro" onchange="getCities()">
                            <option>-请选择省-</option>
                        </select>
                        <select class="form-control-color"
                                style="width: 100px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;"
                                id="city">
                            <option>-请选择市区-</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-4 form-group">
                        <label for="work" class="px-2 fw-light">工作单位及职务</label>
                        <input type="text" class="form-control" autocomplete="off" id="work" placeholder="请输入工作单位及职务">
                    </div>
                    <div class="col-8 form-group">
                        <label class="px-2 fw-light">家庭住址（惠州）</label>
                        <br>
                        <input id="shi" class="form-control-color" disabled readonly value="惠州市" type="text"
                               style="width: 70px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;">
                        <select id="qu" class="form-control-color"
                                style="width: 85px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;">
                            <option>博罗县</option>
                            <option>惠城区</option>
                            <option>惠东县</option>
                            <option>惠阳区</option>
                            <option>龙门县</option>
                        </select>
                        <input id="address" autocomplete="off" class="form-control-color" placeholder="请输入详细地址（街道小区）" type="text"
                               style="width: 380px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-2 form-group">
                        <label for="education" class="px-2 fw-light">学历</label>
                        <select id="education" class="form-control-color"
                                style="width: 110px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;">
                            <option>研究生</option>
                            <option>大学本科</option>
                        </select>
                    </div>
                    <div class="col-2 form-group">
                        <label for="degree" class="px-2 fw-light">学位</label>
                        <select id="degree" class="form-control-color"
                                style="width: 110px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;">
                            <option>博士</option>
                            <option>硕士</option>
                            <option>学士</option>
                        </select>
                    </div>
                    <div class="col-4 form-group">
                        <label for="major" class="px-2 fw-light">专业</label>
                        <input type="text" class="form-control" id="major" autocomplete="off" placeholder="请输入专业信息">
                    </div>
                    <div class="col-4 form-group">
                        <label for="technical_title" class="px-2 fw-light">技术职称</label>
                        <input type="text" class="form-control" id="technical_title" autocomplete="off" placeholder="请输入技术职称">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-4 form-group">
                        <label class="px-2 fw-light">申请类别</label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="category" value="博士" id="doctor">博士
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="category" value="正高职称" id="senior">正高职称
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="category" value="博士后" id="post-doctoral">博士后
                        </div>
                    </div>
                    <div class="col-4 form-group">
                        <label for="phone" class="px-2 fw-light">办公电话</label>
                        <input type="number" class="form-control" autocomplete="off" id="phone" placeholder="请输入电话">
                    </div>
                    <div class="col-4 form-group">
                        <label for="tel" class="px-2 fw-light">手机</label>
                        <input type="number" class="form-control" autocomplete="off" id="tel" placeholder="请输入手机号码">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12 form-group">
                        <label class="px-2 fw-bold">工作合同签订情况</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="已和企事业单位签订 3 年以上工作合同" name="work_status" id="one">已和企事业单位签订 3 年以上工作合同
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="被机关事业单位接收录用" name="work_status" id="two">被机关事业单位接收录用
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="form-group">
                        <label class="px-2 fw-bold">在惠签约工作年限</label>
                        <input type="text" class="form-control-color"
                               style="width: 110px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;"
                               autocomplete="off" id="work_date">
                        <label class="px-2">开始（签约）在惠工作，至今累计在惠工作</label>
                        <input id="year" class="form-control-color" disabled value="" type="text"
                               style="width: 110px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;">
                        <label class="px-2">年。</label>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="form-group">
                        <label class="px-2 fw-bold">落户手续办理情况</label>
                        <input type="text" class="form-control-color"
                               style="width: 110px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;"
                               autocomplete="off" id="home_date">
                        <label class="px-2">已在惠州市</label>
                        <input id="location" class="form-control-color" type="text"
                               autocomplete="off" style="width: 230px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;">
                        <label class="px-2">派出所办理户籍迁移手续。</label>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="form-group">
                        <label class="px-2 fw-bold">申请住房补贴金额</label>
                        大写：<input id="big" type="text" disabled class="form-control-color"
                                  style="width: 300px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;">
                        小写：<input id="small" class="form-control-color" type="number"
                                  autocomplete="off" style="width: 300px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12 form-group">
                        <label class="px-2 fw-bold">申请理由和依据</label>
                        <textarea id="reason" type="text" class="form-control-color" placeholder="（请填写依据哪个文件？哪项条款？）"
                                  style="text-align:start; width:100%; height: 120px; color: #212529; border: 1px solid #ced4da; border-radius: .25rem;"></textarea>
                    </div>
                </div>
            </form>
            <div class="row mb-3">
                <div class="col-6" style="text-align: left">
                    <button class="btn btn-outline-dark btn-lg w-50" style="margin-left: 150px; margin-bottom: 20px"
                            id="save_info" type="button">保存信息
                    </button>
                </div>
                <div class="col-6" style="text-align: right">
                    <button class="btn btn-outline-dark btn-lg w-50" style="margin-right: 150px; margin-bottom: 20px"
                            id="print" type="button">打印
                    </button>

                </div>
            </div>
        </div>
    </div>
    <!--    </div>-->
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                字段不能为空，请仔细检查
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="col"></div>-->

</div>
</div>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/addMail.js" th:src="@{/js/addMail.js}"></script>
<script src="../static/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script src="../static/js/bootstrap-datepicker.zh-CN.min.js" th:src="@{/js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script src="../static/js/city.js" th:src="@{/js/city.js}"></script>
<script src="../static/js/form.js" th:src="@{/js/form.js}"></script>
<script>
    $("#inputDate").datepicker({
        minViewMode: 'months',
        language: 'zh-CN', //语言
        autoclose: true, //选择后自动关闭
        clearBtn: true,//清除按钮
        format: "yyyy-mm"//日期格式
    });
    $("#work_date").datepicker({
        minViewMode: 'months',
        language: 'zh-CN', //语言
        autoclose: true, //选择后自动关闭
        clearBtn: true,//清除按钮
        format: "yyyy年mm月"//日期格式
    });
    $("#home_date").datepicker({
        minViewMode: 'months',
        language: 'zh-CN', //语言
        autoclose: true, //选择后自动关闭
        clearBtn: true,//清除按钮
        format: "yyyy年mm月"//日期格式
    });

    function addZero(month) {
        return month < 10 ? '0' + month : month;
    }

    // 日期选择更改后自动计算年份差值
    $('#work_date').datepicker().on('changeDate', function () {
        var val = $('#work_date').datepicker('getDate')
        const date = new Date(val)
        const strMonth = date.getFullYear() + '-' + addZero(date.getMonth() + 1)
        console.log(strMonth)
        let current_date = new Date()
        let current_year = current_date.getFullYear()
        let current_month = current_date.getMonth() + 1
        let sum = 0
        if (current_year - date.getFullYear() >= 0) {
            sum = current_year - date.getFullYear()
            if (current_month >= date.getMonth() + 1) {
                sum = sum + (current_month - (date.getMonth() + 1)) / 12;
            } else {
                sum = sum - (current_month - (date.getMonth() + 1)) / 12;
            }
            sum = sum.toFixed(2)
            document.getElementById("year").value = sum;
        }
    });
</script>
</body>
</html>