<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <title>用户信息</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="color: #FFF2EA">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">党政服务中心</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">学习</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">活动</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        我的
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">学习情况</a></li>
                        <li><a class="dropdown-item" href="#">活动经历</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">个人信息</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">党支部</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="党政资讯" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit" style="width: 100px">搜索</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-8 col-lg-4">
            <div class="p-4">
                <h4 class="text-center">个人信息</h4>
            </div>
            <form>
                <div class="row mb-3">
                    <div class="form-group col-6">
                        <label for="name" class="px-2 fw-light">姓名</label>
                        <input class="form-control" disabled id="name" readonly th:value="${userInfo.real_name}"
                               type="text" style="background-color: white">
                    </div>
                    <div class="form-group col-6">
                        <label for="birthday" class="px-2 fw-light">出身日期</label>
                        <input class="form-control" disabled id="birthday" readonly
                               th:value="${#dates.format(userInfo.birthday, 'yyyy-MM-dd')}"
                               type="text" style="background-color: white">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="tel" class="px-2 fw-light">手机号</label>
                    <input class="form-control" disabled id="tel" readonly th:value="${user.tel}" type="text" style="background-color: white">
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="px-2 fw-light">邮箱号</label>
                    <input class="form-control" disabled id="email" readonly th:value="${user.email}" type="text" style="background-color: white">
                </div>
                <div class="form-group mb-3">
                    <label for="idCard" class="px-2 fw-light">身份证号</label>
                    <input class="form-control" disabled id="idCard" readonly th:value="${userInfo.id_Card}"
                           type="text" style="background-color: white">
                </div>
                <div class="row mb-5">
                    <div class="form-group col-4">
                        <label for="province" class="px-2 fw-light">省</label>
                        <input class="form-control" disabled id="province" readonly th:value="${userInfo.addProvince}"
                               type="text" style="background-color: white">
                    </div>
                    <div class="form-group col-4">
                        <label for="city" class="px-2 fw-light">市</label>
                        <input class="form-control" disabled id="city" readonly th:value="${userInfo.addCity}"
                               type="text" style="background-color: white">
                    </div>
                    <div class="form-group col-4">
                        <label for="district" class="px-2 fw-light">区/县</label>
                        <input class="form-control" disabled id="district" readonly th:value="${userInfo.addDistrict}"
                               type="text" style="background-color: white">
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <button class="btn btn-outline-danger w-100" id="confirm" type="button">确认无误</button>
                    </div>
                    <div class="col-1"></div>
                    <div class="col">
                        <button class="btn btn-outline-danger w-100" id="logout" type="submit">退出登录</button>
                    </div>
                    <div class="col-1"></div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>
