<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <script src="../static/js/L2Dwidget.min.js" th:src="@{/js/L2Dwidget.min.js}"></script>
    <script src="../static/js/L2Dwidget.0.min.js" th:src="@{/js/L2Dwidget.0.min.js}"></script>
    <title>实名认证</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-8 col-md-8 col-lg-5">

            <div class="m-4 p-4">
                <h2 class="text-center text-danger">党政服务中心 • 实名认证</h2>
            </div>

            <hr>
            <div class="p-3 m-1">
                <form>
                    <div class="form-group ">
                        <label class="p-2 fw-light" for="id_card">身份证号</label>
                        <input class="form-control form-control-lg" id="id_card" placeholder="请输入身份证号" type="tel"/>
                    </div>
                    <div class="form-group ">
                        <label class="p-2 fw-light" for="real_name">姓名</label>
                        <input class="form-control form-control-lg" id="real_name" placeholder="请输入姓名" type="text"/>
                    </div>
                </form>
            </div>

            <div class="m-4">
                <button class="btn btn-outline-danger btn-lg w-100" type="button" id="verify">验证</button>
            </div>

            <div class="text-center">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">认证失败？反馈一下</a>
            </div>

            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">联系党政服务中心助理</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="../static/img/wechat.jpg">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col"></div>

    </div>
</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/verify.js" th:src="@{/js/verify.js}"></script>
<script>
    L2Dwidget.init({
        model: {
            jsonPath: "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json",
            scale: 1
        },
        display: {
            position: "right",
            width: 200,
            height: 400,
            hOffset: 0,
            vOffset: -20
        },
        react: {
            opacity: 0.8
        },
        dialog: {
            // 开启对话框
            enable: true
        }
    });
</script>
<div id="live2d-widget" class="live2d-widget-container"
     style="position: fixed; right: 0px; bottom: -20px; width: 200px; height: 400px; z-index: 99999; opacity: 1; pointer-events: none;">
    <div class="live2d-widget-dialog-container" style="transform: scale(0.8);">
        <div class="live2d-widget-dialog" style="opacity: 1;">
            <p align="center">“就差最后一步啦！”</p>
        </div>
    </div>
    <canvas id="live2dcanvas" width="400" height="800"
            style="position: absolute; left: 0px; top: 0px; width: 200px; height: 400px;"></canvas>
</div>
</body>
</html>
