<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hzu.weblogin.dao.UserDao">
    <resultMap id="userResultMap" type="cn.hzu.weblogin.model.User">
        <id column="id" property="userId" jdbcType="INTEGER"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="id_check" property="id_Check" jdbcType="INTEGER"/>
        <result column="face_token" property="faceToken" jdbcType="VARCHAR"/>
        <result column="third_login_type" property="thirdLogin" jdbcType="INTEGER"/>
        <result column="third_login_id" property="thirdLoginId" jdbcType="VARCHAR"/>
        <result column="create_date" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="addByPhone" useGeneratedKeys="true" keyColumn="id" keyProperty="userId"
            parameterType="cn.hzu.weblogin.model.User">
        insert into user (tel, password)
        values (#{tel}, #{password})
    </insert>

    <insert id="addByMail" useGeneratedKeys="true" keyColumn="id" keyProperty="userId"
            parameterType="cn.hzu.weblogin.model.User">
        insert into user (email, password)
        values (#{email}, #{password})
    </insert>

    <!--    <update id="update" parameterType="cn.hzu.weblogin.model.User">-->
    <!--        update user set password=#{password} where id = #{userId}-->
    <!--    </update>-->

    <select id="getById" parameterType="Integer" resultMap="userResultMap">
        select *
        from user
        where id = #{id}
    </select>

    <select id="getByPhone" parameterType="String" resultMap="userResultMap">
        select *
        from user
        where tel = #{user_phone} limit 1;
    </select>

    <select id="getByEmail" parameterType="String" resultMap="userResultMap">
        select *
        from user
        where email = #{user_email} limit 1;
    </select>

</mapper>
